/* Custom CSS Rules for Harvard Kennedy School Executive Education Canvas Sub-Account*/

#header-inner{
    background-color: #00334d !important;
    background-image: none !important;
}

#header{
    background-color: #00334d !important;
    background-image: none !important;
}

.harvardLogo{
    display: inline-block;
    left: 10px; 
    position: absolute; 
    background-image: url('../img/ksg_170.png') !important;
    background-size: 170px 28px; 
    width: 170px; 
    height: 28px; 
    margin-bottom: 20px;
}
