/* Custom CSS Rules for Harvard Kennedy School Executive Education Canvas Sub-Account*/

#header-inner ul#menu li#grades_menu_item {
    visibility: hidden;
    width: 0;
}
#header-inner{
    background-color: #00334d !important;
}
#header{
    background-color: #00334d !important;
}
.harvardLogo{
    display: inline-block;
    left: 16px; 
    bottom: 0; 
    position: absolute; 
    background-image: url('images/KSG-logo.png') !important;
    background-size: 170px 62px; 
    width: 170px; 
    height: 62px; 
}
